# OASIS data - never push dataset to GitHub
data/raw/
data/processed/

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter temporary files
.ipynb_checkpoints/

# Trained model files
model/*
!model/neuropath_v2_model.joblib
!model/neuropath_v2_metadata.json

# VS Code settings
.vscode/
